// ---- Fonts ----
$font: "Jost", sans-serif;

// ---- Colors ----
$white: #ffffff;
$black: #1c1c1c;
$main: #447055;
$gray: #77889c;
$yellow: #ffd740;
$bg: #F1F2F4;
$red: #bd081c;
$red2: rgba($red, 0.5);
